@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import"vars";

@mixin font ($size, $style){
    font-size: $size;
    font-family: $style;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;  
    transition-property: all;
    transition-duration: 5s;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    header{
        grid-area: encabezado;
        background-color: $fontColor;
        img{
            width:100%;
        }
    }
    nav{
        grid-area: barraNavegacion;
        background-color: black;
        width: 100%;
        height: 6em;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        img{
            width: 4em;
            height:4em;
        }
        }
    main{    
        grid-area: main;
        h1{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            color:$tituloColor;
            text-align: center;
            @include font(3em, $fontTitulo);
        }
        h2{
            @include font(2em, $fontTitulo);
            padding-left: 0px;
            color: $fontColor;
            text-align: center;
        }
        h3{
            font-family: $fontTitulo;
            color: $fontColor;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center
        }
        p{
            @include font(1.3em, $fontParrafo);
            color: $fontColor;
            text-align: justify;
            margin-left: 1em;
            margin-right: 1em;
            padding-bottom:1em;
            margin-top: 1.3em;        
        }
    }
    footer{
        grid-area: pie;
        background-color: black;
        height: 4em;
        margin-bottom: 0;
        padding-top: 5em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        .redes{
            width: 2em;
            height: 2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .copyright{
            color: $fontColor;
            font-size:0.6em;
            font-family: $fontNav;
        }
    }       
}
a{
    text-decoration: none;
    font-size: 1em;
    font-family: $fontNav;
    color:$fontColor;
}

.grillaGeneral{
    display: grid;
    grid-template-areas: 
    "encabezado"
    "barraNavegacion"
    "main"
    "pie";
}
.toteCatalogue, .panueloCatalogue, .paperCatalogue{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}