.cuerpoContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    h1{
        font-family: 'Bebas Neue';
        font-size: 5em;
        color: black;
        margin-bottom: 1em;
    }
    h2{
        font-family: 'Romanesco', cursive;
        font-size: 4em;
        color:palevioletred;
        letter-spacing: 0.2em;
    }
    .catalogoProductos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .unProducto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3em;
        img{
            width: 16em;
            height: 26;
        }
        .datosProducto{
            width: 16em;
            height: 5em;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-style: none;
            h3{
                font-family: $fontTitulo;
                color:$tituloColor;
                font-size: 1em;
            }
            p{
                font-family: $fontParrafo;
                color:black;
                font-size: large;
                height: 1em;
                margin-top: 0em;
                margin-bottom: 0.3em;
            }
            button{
                background-color: $tituloColor;
                font-family: $fontTitulo;
                color: white;
                width: 16em;
                height: 3em;
                border: none;
            }
        }
    }
    .carrito{
        display: flex;
        flex-direction:column;
        align-content: center;
        .consolaCarrito{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            button{
                background-color: palevioletred;
                font-family: $fontTitulo;
                color: white;
                }    
        }
        .productosCarrito{
            .unProductoCarrito{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 3em;
                width: fit-content;
                margin-bottom: 10em;
                img{
                    width: 16em;
                    height: 26;
                }
                .datosProductoCarrito{
                    width: 16em;
                    height: 8em;
                    margin: 0em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-style: none;
                    box-sizing: content-box;
                    h3{
                        font-family: $fontTitulo;
                        color:$tituloColor;
                        font-size: 1em;
                        margin: 2em;
                        border-style: none;
                    }
                    p{
                        font-family: $fontParrafo;
                        color:black;
                        font-size: large;
                        height: 1em;
                        margin-top: 0em;
                        margin-bottom: 0.3em;
                        border-style: none;
                    }
                    button{
                        background-color: $tituloColor;
                        font-family: $fontTitulo;
                        color: white;
                        width: 16em;
                        height: 3em;
                        border: none;
                    }
                }
            }
        }
        h4{
            font-family: $fontTitulo;
            color: black;  
            font-size: x-large;
            margin-left: 1em;
        } 
        .botonComprar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                background-color: black;
                font-family: $fontTitulo;
                color: white;
                width: 10em;
                height: 3em;
                border: none;
                margin-bottom: 5em;
                margin-top: 3em;
            }
        }
    }
}

.abrirCarrito{
    margin-top: 5em;
    background-color: palevioletred;
    a{
        color: white;
    }
}

.totalAPagar{
    div{
        p{
        color: black;
        background-color: white;
        font-size: 0.7em;
        }
    }
}