@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  transition-property: all;
  transition-duration: 5s;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  grid-area: encabezado;
  background-color: white;
}
body header img {
  width: 100%;
}
body nav {
  grid-area: barraNavegacion;
  background-color: black;
  width: 100%;
  height: 6em;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
body nav img {
  width: 4em;
  height: 4em;
}
body main {
  grid-area: main;
}
body main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: palevioletred;
  text-align: center;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
}
body main h2 {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  padding-left: 0px;
  color: white;
  text-align: center;
}
body main h3 {
  font-family: "Oswald", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
body main p {
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
  margin-top: 1.3em;
}
body footer {
  grid-area: pie;
  background-color: black;
  height: 4em;
  margin-bottom: 0;
  padding-top: 5em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body footer .redes {
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer .copyright {
  color: white;
  font-size: 0.6em;
  font-family: "Antonio", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1em;
  font-family: "Antonio", sans-serif;
  color: white;
}

.grillaGeneral {
  display: grid;
  grid-template-areas: "encabezado" "barraNavegacion" "main" "pie";
}

.toteCatalogue, .panueloCatalogue, .paperCatalogue {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.cuerpoIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.cuerpoIndex h1 {
  padding: 1em;
  margin-top: 0em;
  margin-bottom: 2em;
  padding-bottom: 0;
  color: palevioletred;
}
.cuerpoIndex video {
  width: 100%;
  margin-top: 3em;
}
.cuerpoIndex section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 5em;
}
.cuerpoIndex .carruselInicio {
  margin-top: 2em;
}
.cuerpoIndex h2 {
  color: palevioletred;
  font-size: 3em;
}
.cuerpoIndex .cartel {
  background-image: url("../img/salitreTwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3em;
}
.cuerpoIndex .cartel p {
  color: palevioletred;
  font-weight: bolder;
  margin-bottom: 3em;
  margin-top: 3em;
}
.cuerpoIndex .cartel p a {
  color: black;
}

.panuelosButton, .printsButton, .totesButton {
  width: 95%;
  height: 15em;
  border-style: none;
  border-color: none;
  transition-property: all;
  transition-duration: 5s;
}

.linksDirectos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1);
}
.linksDirectos .printsButton {
  background-image: url("../img/prints.jpg");
  background-size: cover;
  transition: background-image 2s;
  margin-top: 2em;
  margin-bottom: 2em;
}
.linksDirectos .printsButton a {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}
.linksDirectos .totesButton {
  background-image: url("../img/toteBags.JPG");
  background-size: cover;
  transition: background-image 2s;
}
.linksDirectos .totesButton a {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}
.linksDirectos .panuelosButton {
  background-image: url("../img/panuelos.jpg");
  background-size: cover;
  transition: background-image 2s;
  margin-top: 2em;
  margin-bottom: 2em;
}
.linksDirectos .panuelosButton a {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.nosotresImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1em;
  transition-property: all;
  transition-duration: 5s;
}
.nosotresImg p {
  font-size: 0.8em;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grillaNosotres {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.grillaNosotres section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.grillaNosotres section p {
  padding: 0%;
  width: 80%;
  margin-bottom: 1em;
  color: black;
  font-weight: bold;
}
.grillaNosotres section .quienesSomosDescriptionOne {
  margin-top: 1em;
}
.grillaNosotres section .quienesSomosDescriptionThree {
  margin-bottom: 4em;
}
.grillaNosotres .quienesSomosImg {
  width: 70%;
  -o-border-image: none;
     border-image: none;
}

.cuerpoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.cuerpoContacto h1 {
  font-family: "Bebas Neue";
  font-size: 5em;
  color: black;
  margin-bottom: 1em;
}
.cuerpoContacto h2 {
  font-family: "Romanesco", cursive;
  font-size: 4em;
  color: palevioletred;
  letter-spacing: 0.2em;
}
.cuerpoContacto .catalogoProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cuerpoContacto .unProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
}
.cuerpoContacto .unProducto img {
  width: 16em;
  height: 26;
}
.cuerpoContacto .unProducto .datosProducto {
  width: 16em;
  height: 5em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
}
.cuerpoContacto .unProducto .datosProducto h3 {
  font-family: "Oswald", sans-serif;
  color: palevioletred;
  font-size: 1em;
}
.cuerpoContacto .unProducto .datosProducto p {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-size: large;
  height: 1em;
  margin-top: 0em;
  margin-bottom: 0.3em;
}
.cuerpoContacto .unProducto .datosProducto button {
  background-color: palevioletred;
  font-family: "Oswald", sans-serif;
  color: white;
  width: 16em;
  height: 3em;
  border: none;
}
.cuerpoContacto .carrito {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.cuerpoContacto .carrito .consolaCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cuerpoContacto .carrito .consolaCarrito button {
  background-color: palevioletred;
  font-family: "Oswald", sans-serif;
  color: white;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10em;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito img {
  width: 16em;
  height: 26;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito .datosProductoCarrito {
  width: 16em;
  height: 8em;
  margin: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
  box-sizing: content-box;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito .datosProductoCarrito h3 {
  font-family: "Oswald", sans-serif;
  color: palevioletred;
  font-size: 1em;
  margin: 2em;
  border-style: none;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito .datosProductoCarrito p {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-size: large;
  height: 1em;
  margin-top: 0em;
  margin-bottom: 0.3em;
  border-style: none;
}
.cuerpoContacto .carrito .carritoDeCompras .unProductoCarrito .datosProductoCarrito button {
  background-color: palevioletred;
  font-family: "Oswald", sans-serif;
  color: white;
  width: 16em;
  height: 3em;
  border: none;
}
.cuerpoContacto .carrito h4 {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: x-large;
  margin-left: 1em;
}
.cuerpoContacto .carrito .botonComprar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cuerpoContacto .carrito .botonComprar button {
  background-color: black;
  font-family: "Oswald", sans-serif;
  color: white;
  width: 10em;
  height: 3em;
  border: none;
  margin-bottom: 5em;
  margin-top: 3em;
}

@media screen and (min-width: 500px) {
  .linksDirectos {
    grid-template-columns: repeat(3, 1fr);
  }
  .panuelosButton, .printsButton, .totesButton {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0em;
  }
  .totesButton {
    margin-top: 2em;
    margin-left: 0.2em;
  }
  .panuelosButton {
    margin-right: 0em;
  }
  .printsButton {
    margin-left: 0.5em;
  }
  .catalogoProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .unProducto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .unProductoCarrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2.5em;
  }
  #formGroupInputFour {
    height: 10em;
  }
}
@media screen and (min-width: 768px) {
  .unProducto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .botonComprar:hover {
    background-color: gold;
  }
  .panuelosButton:hover {
    background-image: url(../img/panuelosHover.jpg);
  }
  .totesButton:hover {
    background-image: url(../img/toteBagsHover.jpg);
  }
  .printsButton:hover {
    background-image: url(../img/printsHover.jpg);
  }
}
.registroCliente {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.registroCliente .datosDeCompra {
  color: black;
}
.registroCliente .formRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registroCliente .formRegistro label {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}
.registroCliente .formRegistro button {
  margin-top: 1em;
  margin-bottom: 5em;
}/*# sourceMappingURL=style.css.map */